@model IEnumerable<Assignment1.Models.Employee>

@{
    ViewData["Title"] = "GetProjectDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Data = Model.ToList().FirstOrDefault();
}

<h4>Project Details</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.EmployeeId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => Data.EmployeeId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => Data.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Projects)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => Data.Projects)
    </dd>
</dl>


<div>
    <a asp-action="Index">Back to Home</a>
</div>